@at-root .Clients-Wrap
{
	@at-root .Clients
	{
		@extend %Control-Base;
		display        : inline-block;
		vertical-align : top;
		max-width      : 775px;
		padding        : 24px 27px 17px;
		@include Adaptive('>=desktop')
		{
			float        : right;
		}

		h2
		{
			font-size     : 18rem;
			margin-bottom : 25px;
		}

		h4
		{
			margin-bottom : 10px;
		}

		p
		{
			margin-bottom : 10px;
		}

		li
		{
			padding-bottom : 11px;
			padding-left   : 12px;
		}

		@at-root .Clients-Towns
		{

			li
			{

				&:before
				{
					content          : "";
					display          : inline-block;
					width            : 3px;
					height           : 3px;
					vertical-align   : middle;
					margin-right     : 8px;
					background-color : $Color-First;
				}
			}
		}

	}
}