@at-root .Contacts-Left
{
	display        : inline-block;
	width          : 304px;
	max-width      : 100%;
	margin-right   : 42px;
	vertical-align : top;
	section + section
	{
		border-top : none;
	}

	@at-root .Contacts-Country
	{
		@extend %Control-Base;
		padding : 20px 5px 0 20px;

	}
	dl
	{
		margin : 16px 0;
	}

	dt
	{
		width          : 76px;
		margin-top     : 4px;
		vertical-align : top;

	}

	dd
	{
		max-width      : 180px;
		line-height    : 20px;
		vertical-align : top;
		span
		{
			display : block;
		}
	}
}

@at-root .Contacts-Right
{
	h2
	{
		@extend %Uppercase;
	}

	display : inline-block;
	width   : 760px;
	@at-root .Contacts-Map
	{
		width         : 100%;
		margin-bottom : 47px;
	}
	@at-root .Contacts-Form
	{
		padding   : 20px;
		@extend %Control-Base;
		font-size : 0;
		& > div
		{
			display        : inline-block;
			width          : 50%;
			vertical-align : top;
			padding-top    : 20px;
		}

		div:nth-of-type(2)
		{
			padding-left : 20px;
		}

		input, textarea
		{
			@extend %Input-Form;
			padding-left  : 20px;
			padding-right : 20px;

		}

		@at-root .Form-Info
		{
			input
			{
				height        : 48px;
				margin-bottom : 20px;
			}
		}
		@at-root .Form-Send
		{
			textarea
			{
				resize      : none;
				height      : 116px;
				padding-top : 15px;
			}

		}
		@at-root .Form-Button
		{
			@extend %Btn-Form;

			margin-top : 20px;

		}
	}

}