@at-root .Countries
{
	padding   : 5px 20px;
	font-size : 0;
	h2
	{
		@extend %Uppercase;
	}

	h3
	{
		margin : 30px 0 20px;
	}

	@each $animal in at, ad, be, gb, de, gr, ie, es, it, cy, lu, nl, pt, tr, ua, ge, il, in, id, cn, mv, ae, sg, th, uz, br, do, cu, mx, um, ye, ke, mu, sc, tz, za
	{
		.#{$animal}-icon
		{
			background : url('../img/ico/Flag/#{$animal}.svg') no-repeat center / cover;
		}
	}
	a
	{
		display       : inline-block;
		margin-bottom : 9px;
		font-size     : 14rem;
	}

	a > div
	{
		display            : inline-block;
		height             : 20px;
		width              : 29px;
		vertical-align     : middle;
		margin-right       : 10px;
		-webkit-box-shadow : 0 0 2px 1px rgba(0, 0, 0, .14);
		-moz-box-shadow    : 0 0 2px 1px rgba(0, 0, 0, .14);
		box-shadow         : 0 0 2px 1px rgba(0, 0, 0, .14);
	}

	a span
	{
		vertical-align : middle;
		line-height    : 18rem;
	}
}

@at-root .Countries > div
{

	@include Adaptive('>=tablet')
	{
		width          : 50%;
		display        : inline-block;
		vertical-align : top;
	}

	@include Adaptive('>=ipad-L')
	{
		width : 30%;
	}
}