@at-root .Details-Sidebar
{
	display        : inline-block;
	max-width      : 340px;
	padding        : 51px 0 0;
	margin         : 0 46px 0 20px;
	vertical-align : top;

	//-------------Sidebar-News
	@at-root .Sidebar-Views
	{
		margin-bottom : 40px;
		@at-root .Sidebar-View
		{
			position   : relative;
			width      : 100%;
			height     : 206px;
			background : url("../img/pic/Greath-Britain.jpg") no-repeat center / cover ;
			border     : 2px solid $Color-First;
			&:hover .View-Previous, &:hover .View-Next{
				opacity: 1;
				transition: opacity linear .2s;
			}


			svg
			{
				@extend %Btn-Svg;
				margin-top : -13px;
				width      : 27px;
				height     : 27px;
			}

			@at-root .View-Previous, .View-Next
			{
				@extend %Btn-Holder;
				width : 47px;
				opacity: 0;
				transition: opacity linear .2s;

			}
			@at-root .View-Previous
			{
				@extend %Btn-Prev;
				svg
				{
					left : 10px;
				}

			}
			@at-root .View-Next
			{
				@extend %Btn-Next;
				svg
				{
					right : 10px;
				}

			}

		}
		@at-root .Sidebar-Bottom
		{
			font-size : 0;

			div
			{
				display    : inline-block;
				width      : 70px;
				height     : 70px;
				margin-top : 19px;
				cursor     : pointer;
			}

			@at-root .View-First
			{
				margin-right : 20px;
				background   : url("../img/pic/Greath-Britain-mini-1.jpg") no-repeat center / cover ;
			}
			@at-root .View-Second
			{
				margin-right : 20px;
				background   : url("../img/pic/Greath-Britain-mini-2.jpg") no-repeat center / cover ;
			}
			@at-root .View-Third
			{
				margin-right : 20px;
				background   : url("../img/pic/Greath-Britain-mini-3.jpg") no-repeat center / cover ;
			}
			@at-root .View-Fourth
			{
				background : url("../img/pic/Greath-Britain-mini-4.jpg") no-repeat center / cover ;
			}
		}

	}
	//-------------Sidebar-News
	@at-root .Sidebar-Views + .Sidebar-News
	{
		border-bottom : none;
	}

}

//---------Details
@at-root .Details
{
	> h2
	{
		@extend %Uppercase;
	}

	display   : inline-block;
	max-width : 714px;
	padding   : 51px 0 0 0;



	dt
	{
		@extend %Font-SemiBold;

	}


	@at-root .Details-Tops
	{
		font-size : 0;
		padding   : 24px 0;
		@at-root .Details-Top
		{
			dt:nth-of-type(1)
			{
				width : 136px;
			}

			dd:nth-of-type(1)
			{
				width : 240px;
			}

			dt:nth-of-type(2)
			{
				width : 213px;
			}

			dd:nth-of-type(2)
			{
				width      : 55px;
				text-align : right;
			}

			@at-root .Details-Top
			{
				padding-bottom : 16px;
			}

		}
		@at-root .Details-Additional
		{
			padding-bottom : 10px;
			dt
			{
				width : 130px;
			}

			ul
			{
				display    : list-item;
				margin-top : -8px;
			}

			li
			{
				line-height : 23rem;
				&:before
				{
					content : "- ";
				}
			}

		}
		@at-root .Details-Button
		{
			@extend %Btn;
			@extend %Uppercase;
			padding    : 9px 55px;
			margin-top : 20px;
			font-size  : 15rem;

		}

	}
	@at-root .Details-Descriptions
	{
		padding-top : 20px;
		h2
		{
			font-size : 18rem;
		}

		ul
		{
			padding : 8px 0 15px;
		}

		li
		{
			padding     : 7px 0;
			line-height : 21rem;
		}
	}

}