@at-root .News-Wrap
{
	@at-root .News
	{
		@extend %Control-Base;
		display        : inline-block;
		max-width      : 775px;
		vertical-align : top;
		padding        : 27px;
		@at-root .News-Date
		{
			color     : #777;
			font-size : 12rem;
		}
		h2
		{
			font-size : 18rem;
			margin    : 15px 0 25px;
		}

		p
		{
			padding-bottom : 10px;
		}

		@at-root .News-View
		{
			width         : 100%;
			height        : 200px;
			margin-bottom : 27px;
			background    : url("/img/pic/beach-news.jpg") no-repeat center / cover ;
		}

	}
}


