@at-root .Tours-Wrap
{
	padding   : 0 0 30px;
	font-size : 0;
	h1
	{
		@extend %Font-SemiBold;
		@extend %Unselectable-2;
		display      : inline-block;
		margin-right : 76px;
		font-size    : 20rem;
		color        : #fff;
	}

	@at-root .Tours
	{
		margin-bottom : 25px;
		@include Adaptive('>=desktop')
		{
			float          : right;
			max-width      : 755px;
			display        : inline-block;
			width          : 100%;
			vertical-align : top;
		}

	}


	///---------------------Tour-Window
	@at-root .Tour-Window
	{
		max-width  : 100%;
		width      : 100%;
		height     : 34vw;
		background : url("../img/pic/people.jpg") no-repeat center / cover ;

		position   : relative;
		&:hover .Tour-Previous, &:hover .Tour-Next
		{
			transition : opacity linear .2s;
			opacity    : 1;
		}

		@include Adaptive('>=desktop')
		{
			height : 303px;
			width  : 100%;
		}

		svg
		{
			@extend %Btn-Svg;
			margin-top : -10px;
			width      : 30px;
			height     : 30px;
		}

		@at-root .Tour-Previous, .Tour-Next
		{
			@extend %Btn-Holder;
			width      : 57px;
			opacity    : 0;
			transition : opacity linear .2s;

		}
		@at-root .Tour-Previous
		{
			@extend %Btn-Prev;
			svg
			{
				left : 16px;
			}

		}
		@at-root .Tour-Next
		{
			@extend %Btn-Next;
			svg
			{
				right : 16px;
			}
		}
		@at-root .Tour-Nav
		{
			position    : absolute;
			bottom      : 14px;
			left        : 50%;
			margin-left : -50px;
			li
			{
				@extend %Border-Circle;
				display : inline-block;
				margin  : 0 2px;
				border  : 2px solid $Color-Control-Base;

				input
				{
					display : none;
				}
				label
				{
					display : block;
					padding : 2px;
					cursor  : pointer;
					div
					{
						@extend %Border-Circle;
						height : 8px;
						width  : 8px;
					}

				}
				input:checked + label div
				{
					background-color : $Color-Button;
				}
			}
		}
	}

	@at-root .Tour-Bottom
	{
		padding          : 16px 0;
		text-align       : center;
		background-color : $Color-Button;
		border-top       : 4px solid #e59d00;
		button
		{
			@extend %Uppercase;
			padding          : 10px 15px;
			margin-right     : 14px;
			background-color : #fff;
			font-size        : 12rem;
			border           : none;
			border-bottom    : 4px solid #e59d00;
			cursor           : pointer;
		}

	}

	///------------Tours-News
	@at-root .Tours-News
	{
		@extend %Control-Base;
		padding : 24px 0 30px;

		@include Adaptive('>=tablet')
		{
			display : inline-block;
			width   : 50%;
		}

		@include Adaptive('>=desktop')
		{
			max-width      : 755px;
			width          : 100%;
			vertical-align : top;
			float          : right;
		}

		h2
		{
			@extend %Uppercase;
			margin-left : 32px;
		}

		div
		{
			@extend %Line-Bottom;
			padding       : 20px;
			margin-bottom : 12px;
			@include Adaptive('>=desktop')
			{
				padding : 20px 0;
			}
		}

		div:last-of-type
		{
			border : none;
		}

		img
		{
			display   : block;
			max-width : 180px;
			margin    : 0 0 20px;

			@include Adaptive('>=desktop')
			{
				display        : inline-block;
				vertical-align : top;
				margin         : 0 15px 0 30px;
			}
		}

		h3
		{
			display     : inline-block;
			max-width   : 355px;
			line-height : 18rem;
		}

		p
		{
			padding-top : 16px;
		}

		////------------Tours-New
		@at-root .Tours-New
		{
			position       : relative;
			display        : inline-block;
			max-width      : 516px;
			vertical-align : top;

		}



		@at-root .Tours-Stock
		{
			@extend %Unselectable-2;
			position         : absolute;
			right            : -30px;
			top              : -47px;
			max-width        : 66px;
			margin           : 0 0 7px auto;
			padding          : 11px 14px;
			font-size        : 12rem;
			background-color : $Color-Red;
			color            : #fff;

		}

		@at-root .Tours-Date
		{
			@extend %Font-SemiBold;
			@extend %Unselectable-2;
			position         : absolute;
			right            : -30px;
			top              : -9px;
			padding          : 12px 8px;
			font-size        : 12rem;
			color            : #777777;
			background-color : $Color-Control-Base;

		}

	}

}