
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
	url('/fonts/OpenSans.woff') format('woff'),
	url('/fonts/OpenSans.ttf')  format('truetype'),
	url('/fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/OpenSans-Semibold.woff') format('woff'),
	url('/fonts/OpenSans-Semibold.ttf')  format('truetype'),
	url('/fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/OpenSans-Bold.woff') format('woff'),
	url('/fonts/OpenSans-Bold.ttf')  format('truetype'),
	url('/fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


