// ----------
%Font-Regular
{
	font-family : 'OpenSans';
}

// ----------
%Font-Bold
{
	font-family : 'OpenSans-Bold';
}

// ----------
%Font-SemiBold
{
	font-family : 'OpenSans-Semibold';
}

// ----------
%Uppercase
{
	text-transform : uppercase;
}

// ----------
%Line-Bottom
{
	//	border-bottom : 1px solid $Color-Line;
}

// ----------
%Line-Top
{
	//	border-top : 1px solid $Color-Line;
}

// ----------
%Unclickable
{
	cursor : default;
}

%Unselectable
{

	& *::selection
	{
		background-color : transparent;
	}
	&::selection
	{
		background-color : transparent;
	}

}

%Unselectable-2
{
	@extend %Unselectable;
	cursor : default;
}

%Control-Base
{
	border : 2px solid $Color-Control-Base;
}

%Line-Bottom
{
	border-bottom : 2px solid $Color-Control-Base;
}

%Line-Top
{
	border-top : 2px solid $Color-Control-Base;
}

%Transition-Std
{
	transition : background-color linear .2s, color linear .2s;
}

%Border-Radius
{
	border-radius : 3px;
}

%Border-Circle
{
	border-radius : 50%;
}

%Max-Width
{
	max-width : 1200px;
	margin    : 0 auto;
}

%Btn
{
	@extend %Transition-Std;
	@extend %Border-Radius;
	@extend %Font-SemiBold;
	display          : inline-block;
	padding          : 6px 15px;
	outline          : none;
	cursor           : pointer;
	background-color : $Color-Button;
	color            : $Color-Button-Text;
	&:hover
	{
		@extend %Transition-Std;
		background-color : $Color-First;
		color            : #fff;
	}

}

%Btn-Svg
{
	position         : absolute;
	top              : 50%;
	fill             : white;
	cursor           : pointer;
	transform-origin : center center;

	&:active
	{
		fill : $Color-Button;
	}

}

%Btn-Holder
{
	position         : absolute;
	top              : 0;
	bottom           : 0;
	background-color : rgba(129, 129, 129, .5);
}

%Btn-Prev
{
	left : 0;
	svg
	{
		transform : rotate(90deg);
	}

}

%Btn-Next
{
	right : 0;
	svg
	{
		transform : rotate(-90deg);
	}
}

%Input-Form
{
	@extend %Control-Base;
	font-style : italic;
	width      : 100%;
	&:focus
	{
		border : 2px solid $Color-First;
	}

}

%Btn-Form
{
	@extend %Transition-Std;
	@extend %Btn;
	@extend %Uppercase;
	width     : 100%;
	font-size : 16rem;
	padding   : 12px;
	&:hover
	{
		@extend %Transition-Std;
		background-color : $Color-First;
		color            : #fff;
	}

}

%Float-Left
{
	float : left;
}

%Float-Right
{
	float : right;
}

