html
{
	font-size : 1px;
}

input, textarea
{
	box-sizing : border-box;
}

button
{
	outline : none;
	border  : none;
}

input[type="checkbox"]
{
	margin : 0;
}

a
{
	text-decoration : none;
	&:active
	{
		color : $Color-First;
	}
}

h2
{
	@extend %Font-SemiBold;
	font-size : 16rem;
	color     : $Color-First;
}

h3
{
	@extend %Font-SemiBold;
	font-size : 15rem;
	color     : $Color-First;
}

h4
{
	font-size : 14rem;
}

p
{
	line-height : 20rem;
	font-size   : 14rem;
}

dl, li
{
	font-size : 14rem;
}

dt, dd
{
	display        : inline-block;
	vertical-align : top;
}

img
{
	max-width : 100%;
}

body
{
	@extend %Font-Regular;
	background-color : #f4f4f4;
	border-top       : 6px solid $Color-Body-Border;
}

input:focus, textarea:focus, select:focus
{
	outline : none;
}

main
{
	@extend %Clearfix;
	position           : relative;
	max-width          : 1200px;
	margin             : 0 auto 50px;
	padding            : 15px;
	box-sizing         : border-box;
	border-top         : 4px solid $Color-Main-Border;
	background-color   : #fff;
	font-family        : 'OpenSans';
	-webkit-box-shadow : 0px 0px 12px 1px rgba(0, 0, 0, 0.31);
	-moz-box-shadow    : 0px 0px 12px 1px rgba(0, 0, 0, 0.31);
	box-shadow         : 0px 0px 12px 1px rgba(0, 0, 0, 0.31);
	@include Adaptive('>=desktop')
	{
		padding : 35px 40px;
	}

	$header-height-1 : 198px;

	@include Adaptive('>=ipad-L')
	{
		$footer-height-1 : 204px;
		min-height : calc(100vh - #{$header-height-1 + $footer-height-1});
	}
	@include Adaptive('>=desktop')
	{
		$footer-height-2 : 151px;
		min-height : calc(100vh - #{$header-height-1 + $footer-height-2});
	}

}




