@at-root .Direction
{
	display        : inline-block;
	width          : 33%;
	padding        : 0 15px;
	margin         : 15px 0;
	vertical-align : top;

	img
	{
		@extend %Control-Base;
		width : 100%;
	}

	section
	{
		@extend %Control-Base;
		border-top : none;
		padding    : 16px 19px 57px;
	}

	dl
	{
		margin : 14px 0 10px;
	}

	dt
	{
		@extend %Font-Bold;
		display      : inline-block;
		margin-right : 8px;
	}

	dd
	{
		display : inline-block;
	}

	@at-root .Direction-Top
	{
		position : relative;
	}

	@at-root .Direction-Price
	{
		position         : absolute;
		font-size        : 16rem;
		top              : 73%;
		left             : 0;
		color            : white;
		background-color : $Color-Red;
		padding          : 10px;
	}

	@at-root .Directions-Country
	{
		&:before
		{
			@extend %Border-Circle;
			content          : "";
			display          : inline-block;
			height           : 4px;
			width            : 4px;
			margin           : 6px 14px 0;
			vertical-align   : top;
			background-color : $Color-First;
		}

	}
	@at-root .Directions-Title
	{
		margin-left : 14px;

	}
	@at-root .Direction-Button
	{
		@extend %Btn;
		@extend %Uppercase;
		float     : right;
		font-size : 14rem;
		color     : $Color-Button-Text;
	}
}