//-------Footer
footer
{
	background-color : $Color-First;
	border-top       : 5px solid #ffaf00;
	color            : #fff;
	@at-root .Footer-Menu
	{
		@extend %Max-Width;
		padding: 18px 0;

		@at-root .Footer-Nav
		{
			display : inline-block;
			vertical-align : middle;
			a
			{
				@extend %Font-Bold;
				@extend %Uppercase;
				@extend %Unselectable;
				@extend %Transition-Std;
				display   : inline-block;
				font-size : 14rem;
				color     : #fff;
				padding   : 20px 0;
				margin    : 0 11px;
				cursor    : pointer;
			}
		}
		@at-root .Footer-Socials
		{
			@extend %Clearfix;
			margin-top : 3px;
			@include Adaptive('>=desktop'){
				float : right;

			}
			span
			{
				@extend %Font-SemiBold;
				margin-right   : 22px;
				font-size      : 13rem;
				vertical-align : middle;
			}

			a
			{
				display        : inline-block;
				vertical-align : middle;
			}

			a:nth-of-type(2)
			{
				margin : 0 4px;
			}

			@at-root .Socials-Twitter
			{

			}
			@at-root .Socials-Vk
			{

			}
			@at-root .Socials-Facebook
			{

			}
			svg
			{
				@extend %Border-Circle;
				height           : 28px;
				width            : 28px;
				padding          : 11px;
				fill             : #ffc340;
				background-color : $Color-Copyright;
			}
		}
		@at-root .Copyright-Wrap{
			padding: 21px 0;
			background-color: $Color-Copyright;
			@at-root .Copyright{
				@extend %Max-Width;
				font-size: 14rem;
				span{
					@extend %Font-Regular;

				}
				@at-root .Copyright-Developers{
					@extend %Clearfix;
					float: right;
					a{
						@extend %Font-SemiBold;
						color: #ffc340;



					}

				}

			}

		}
	}
}

