//--------Header
@at-root .Header-Top
{
	@extend %Max-Width;
	padding-bottom : 11px;
	> a
	{
		display        : inline-block;
		vertical-align : middle;
	}

	li:nth-of-type(1)
	{
		@extend %Font-SemiBold;
		font-size : 14rem;
		padding   : 0 0 9px;
	}

	@at-root .Header-Logo
	{
		display             : inline-block;
		width               : 140px;
		height              : 133px;
		margin-left         : 40px;
		margin-right        : 43px;
		background          : url("../img/ico/d-logo.svg");
		background-size     : cover;
		background-repeat   : no-repeat;
		background-position : center;

	}
	@at-root .Header-Search
	{
		display        : none;
		position       : relative;
		vertical-align : middle;
		width          : 454px;
		margin-right   : 40px;


		@include Adaptive('>=desktop')
		{
			display : inline-block;
		}

		input
		{
			@extend %Control-Base;
			display        : inline-block;
			vertical-align : middle;
			width          : 100%;
			height         : 33px;
			padding        : 0 80px 0 44px;
		}

		button
		{
			@extend %Border-Radius;
			@extend %Btn;
			position       : absolute;
			right          : 0;
			top            : 0;
			border         : 1px solid #f7a700;
			font-size      : 14rem;
			vertical-align : middle;
		}

		@at-root .Header-Looking
		{
			width    : 16px;
			height   : 16px;
			padding  : 4px;
			position : absolute;
			top      : 6px;
			left     : 17px;
			fill     : $Color-Control-Base;

		}

	}
	@at-root .Header-Exchange
	{
		display      : none;
		width        : 250px;
		padding      : 17px 33px 7px 33px;
		border-left  : 1px solid $Color-Body-Border;
		border-right : 1px solid $Color-Body-Border;
		@include Adaptive('>=desktop')
		{
			display        : inline-block;
			vertical-align : middle;
		}

		> li
		{
			padding : 0 0 4px;
		}

		span
		{
			@extend %Font-Regular;
			font-size      : 13rem;
			vertical-align : middle;
		}

		svg
		{
			@extend %Border-Circle;
			fill           : #fff;
			background     : $Color-Head-Icons;
			vertical-align : middle;
			margin-right   : 8px;
		}

		@at-root .Header-Dollar
		{
			width   : 19px;
			height  : 19px;
			padding : 7px;

		}
		@at-root .Header-Euro
		{
			width   : 13px;
			height  : 13px;
			padding : 10px;

		}

	}
	@at-root .Header-Contacts
	{
		padding-left   : 33px;
		display        : inline-block;
		vertical-align : middle;

		> li
		{
			@extend %Font-Regular;
			padding   : 11px 0 8px;
			font-size : 16rem;
		}
	}

}

@at-root .Header-Menu
{
	@extend %Border-Radius;
	position   : relative;
	max-width  : 1220px;
	margin     : 0 auto;
	text-align : center;
	background : -moz-linear-gradient(top, #14959d 0%, #14959d 50%, #008e96 50%, #008e96 100%); /* FF3.6-15 */
	background : -webkit-linear-gradient(top, #14959d 0%, #14959d 50%, #008e96 50%, #008e96 100%); /* Chrome10-25,Safari5.1-6 */
	background : linear-gradient(to bottom, #14959d 0%, #14959d 50%, #008e96 50%, #008e96 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='#14959d', endColorstr='#008e96', GradientType=0); /* IE6-9 */
	&:before, &:after
	{
		content    : " ";
		position   : absolute;
		bottom     : -8px;
		width      : 0;
		height     : 0;
		border-top : 9px solid #00747c;
	}

	&:before
	{
		left        : 0;
		border-left : 9px solid transparent;
	}

	&:after
	{
		right        : 0;
		border-right : 9px solid transparent;
	}

	nav
	{
	}

	a
	{
		@extend %Font-Bold;
		@extend %Uppercase;
		@extend %Unselectable;
		@extend %Transition-Std;
		display   : inline-block;
		font-size : 14rem;
		color     : #fff;
		padding   : 20px 16px;
		cursor    : pointer;

		&:hover
		{
			@extend %Transition-Std;
			color      : $Color-Button-Text;
			background : -moz-linear-gradient(top, $Color-Button 0%, $Color-Button 52%, #ffaf00 48%, #ffaf00 100%); /* FF3.6-15 */
			background : -webkit-linear-gradient(top, $Color-Button 0%, $Color-Button 52%, #ffaf00 48%, #ffaf00 100%); /* Chrome10-25,Safari5.1-6 */
			background : linear-gradient(to bottom, $Color-Button 0%, $Color-Button 52%, #ffaf00 48%, #ffaf00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter     : progid:DXImageTransform.Microsoft.gradient(startColorstr='$Color-Button', endColorstr='#ffaf00', GradientType=0); /* IE6-9 */
		}
	}

}