@at-root .Modal-Wrap
{
	display    : none;
	background : rgba(0, 0, 0, .45);
	@at-root .Modal
	{
		position   : relative;
		max-width  : 300px;
		padding    : 30px;
		border     : 2px solid $Color-First;
		background : #fff;
		@at-root .Modal-Close
		{
			display  : block;
			width    : 20px;
			height   : 20px;
			padding  : 5px;
			position : absolute;
			z-index  : 1;
			cursor   : pointer;
			top      : 5px;
			right    : 5px;
		}
		input
		{
			@extend %Input-Form;
			height        : 38px;
			margin-bottom : 20px;
			padding-left  : 20px;
		}

		button
		{
			@extend %Btn-Form;
		}
	}
}