//----------Details-Page-News
@at-root .Sidebar-News
{
	@extend %Control-Base;
	position : relative;
	padding  : 17px 15px 35px 23px;
	h2
	{
		line-height   : 20rem;
		margin-bottom : 7px;
	}

	@at-root .Sidebar-Stock, .Sidebar-Recommend
	{
		@extend %Unselectable-2;
		background-color : $Color-Red;
		color            : #fff;
	}
	@at-root .Stock-Alert
	{
		padding   : 0 0 7px;
		color     : $Color-Red;
		font-size : 12rem;
	}
	@at-root .Sidebar-Button
	{
		display       : inline;
		float         : right;
		margin-top    : 8px;
		border-bottom : 1px solid #008e96;
		color         : #008e96;
		font-size     : 12rem;
	}
}

//-------------------News-Page-News
@at-root .News-Module
{
	display      : inline-block;
	margin-right : 45px;
	vertical-align : top;
	article + article
	{
		border-top : none;
	}

	max-width    : 304px;
	.Sidebar-News
	{
		padding : 17px 15px 44px 23px;
	}

	.Sidebar-Stock
	{
		float     : right;
		position  : relative;
		display   : inline-block;
		right     : -35px;
		top       : -6px;
		padding   : 10px;
		font-size : 13rem;
	}
	.Stock-Alert{
		padding   : 0 0 12px;

	}

}
