@at-root .Clients-Wrap .Sidebar-Selection
{
	@include Adaptive('>=tablet','<desktop')
	{
		width : 50%;
		float : none;
	}
}

@at-root .Sidebar-Selection
{

	display        : inline-block;
	width          : 100%;
	margin-bottom  : 30px;
	vertical-align : top;
	font-size      : 13rem;
	@include Adaptive('>=tablet')
	{
		float : right;
		width : 50%;
	}

	@include Adaptive('>=desktop')
	{
		float     : left;
		width     : 304px;
		max-width : 100%;
	}

	h2
	{
		margin-bottom : 18px;
	}

	@at-root .Selection-Tour
	{
		@extend %Control-Base;
		padding : 20px 18px 30px;


		h2 + span, div + span
		{
			@extend %Font-SemiBold;
			display : block;
			margin  : 0 0 10px 20px;
		}

		select
		{
			display : none;
		}

		@at-root .Selection-Select
		{
			@extend %Control-Base;
			position      : relative;
			height        : 30px;
			width         : 100%;
			margin-bottom : 29px;
			border-radius : 1px;
			svg
			{
				float       : right;
				border-left : 2px solid $Color-Control-Base;
				cursor      : pointer;
			}

			@at-root .Selection-Arrow
			{
				width   : 12px;
				height  : 8px;
				padding : 10px;
				&:active
				{
					fill : $Color-First;
				}

			}

			span
			{
				position : absolute;
				left     : 20px;
				top      : 6px;
			}

		}
		@at-root .Selection-Button
		{
			@extend %Font-SemiBold;
			@extend %Unselectable;
			display          : inline-block;
			padding          : 10px 15px;
			margin-right     : 14px;
			background-color : $Color-Button;
			color            : $Color-Button-Text;
			font-size        : 16rem;
			border           : none;
			border-bottom    : 4px solid #cf8500;
			cursor           : pointer;
			vertical-align   : middle;

		}
		@at-root .Selection-Search
		{
			display        : inline-block;
			max-width      : 90px;
			vertical-align : middle;
			a
			{
				display       : inline;
				border-bottom : 1px solid $Color-First;
				color         : $Color-First;
				line-height   : 18rem;
			}

		}
		@at-root .Selection-Date
		{
			width   : 18px;
			height  : 16px;
			padding : 5px 7px;
		}

	}

	@at-root .Sidebar-Infos
	{
		@extend %Control-Base;
		padding    : 20px 0;
		margin-top : 32px;
		h2
		{
			padding-left : 18px;
		}

		@at-root .Sidebar-Visa
		{
			margin : 0 13%;
		}

		@at-root .Sidebar-People
		{
			margin : 0 11%;
		}

		@at-root .Sidebar-Car
		{
			margin : 0 6%;

		}

		div
		{
			padding : 14px 10px 10px;
			img
			{
				vertical-align : middle;
			}
		}

		div:nth-of-type(2)
		{
			@extend %Line-Top;
			@extend %Line-Bottom;
		}

	}

}